<h1>Idea Box</h1>
<form>
  <h4>
    Title:
    <input type="text" name="name" id="post-name"></input>
  </h4>
  <h4>
    Body:
    <input type="text" name="description" id="post-description"></input>
  <button type="button" class="btn btn-default" id="create-idea">Save</button>
</h4>
</form>
  <br>
  <h4>
  Search:   <input type="text" name="description" id="post-description"></input>
  <br>
</h4>

<div class="ideas-list"></div>
