<h1>Idea Box</h1>
<form>
  Title:<br>
  <input type="text" name="name" id="post-name"><br>
  Body:<br>
  <input type="text" name="description" id="post-description">
  <button type="button" class="btn btn-default" id="create-idea">Save</button>
</form>
<div class="ideas-list"></div>
